fastapi[standard]
sqlmodel
pwdlib[argon2]
pyjwt
python-multipart
python-dotenv
langchain-groq
langchain-google-genai
langchain-unstructured
langgraph
unstructured-client
langchain-chroma
Pillow
docling
qdrant-client
fastembed
sentence-transformers
pandas
twelvelabs
langchain-experimental
pydub
edge-tts
supabase
google-genai